@page "/"
@inject Models.UserState UserState
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>

@if(UserState.isSet()){
    <h1>Welcome @UserState.getPatient().patientInfo.Name!</h1>
}
else{
    <h1>Welcome! Choose profile :)</h1>
}
Welcome to your new app. 
Navigate to <button @onclick="NavigateToPatients">Patients</button> to choos or change your profile!
 

@code {
    private void NavigateToPatients()
    {
        NavigationManager.NavigateTo("/Patients");
    }
}
