@page "/patients"
@using Project.Models;
@using Newtonsoft.Json;
@inject HttpClient Http
@inject Models.UserState UserState;
@inject Models.MedService MedService;
@inject NavigationManager NavigationManager;

<PageTitle>Patients</PageTitle>

<h1>Patients</h1>

<p>Available patients</p>

@if (patients == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var patient in patients)
            {
                <tr>
                    <td>@patient.patientInfo.Id</td>
                    <td>@patient.patientInfo.Name</td>
                    <td>@patient.patientInfo.Surname</td>
                    <td><button type="button" class="btn btn-primary"
                            @onclick="(() => setUser(patient))">Choose</button></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Patient>? patients;

    private void setUser(Patient patient)
    {
        UserState.setUser(patient);
        NavigationManager.NavigateTo("/home");
    }


    protected override async Task OnInitializedAsync()
    {
        var json = await Http.GetStringAsync("sample-data/try.json");
        patients = Newtonsoft.Json.JsonConvert.DeserializeObject<List<Patient>>(json);
        MedService.patientList = patients;
    }

}
